<!DOCTYPE html>
<html>
<head>
    <title>File Selector</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Load file list from Flask server
            $.get('/fileloader', function(data) {
                var fileDropdown = $('#file-dropdown');
                fileDropdown.empty();
                $.each(data, function(index, filename) {
                    fileDropdown.append($('<option></option>').text(filename));
                });
            });

            // Bind button click to call Flask server and display result
            $('#submit-button').click(function() {
                var filename = $('#file-dropdown').val();
                $.get('/nlp/' + filename, function(data) {
                    $('#result-box').html(data);
                });
            });
        });
    </script>
</head>
<body>
    <h1>File Selector</h1>
    <select id="file-dropdown"></select>
    <br><br>
    <button id="submit-button">Process File</button>
    <div id="result-box"></div>
</body>
</html>
