<!DOCTYPE html>
<html>
<head>
    <title>Battelle NLP NER Model Demo</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Load file list from Flask server
            $.get('/fileloader', function(data) {
                var fileDropdown = $('#file-dropdown');
                fileDropdown.empty();
                $.each(data, function(index, filename) {
                    fileDropdown.append($('<option></option>').text(filename));
                });
            });

            // Bind button click to call Flask server and display result
            $('#submit-button').click(function() {
                var filename = $('#file-dropdown').val();
                $.get('/nlp/' + filename, function(data) {
                    $('#result-box').html(data);
                });
            });
        });
    </script>
</head>
<style>
    #file-dropdown {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #result-box {
        align-self: center;
        bottom: 0;
        width: 80%;
        height: 100%;
        overflow: scroll;
        padding: 50px;
        padding-bottom: 5%;
        background-color: #acacac;
        border: 1px solid #363636;
    }
</style>
<body>
    <h1>Battelle NLP NER Model Demo</h1>
    <select id="file-dropdown"></select>
    <br><br>
    <button id="submit-button">Process File</button>
    <div id="result-box"></div>
</body>
</html>
