<div class="entities" style="line-height: 2.5; direction: ltr">Name:  [**Known lastname 2170**], [**Known firstname **]                       Unit No:  [**Numeric Identifier 2171**]<br><br>Admission Date:  [**2105-11-20**]     Discharge Date:  [**2105-11-27**]<br><br>Date of Birth:   [**2030-11-10**]     Sex:  M<br><br>Service:<br><br>ADDENDUM TO HOSPITAL COURSE:  It was felt that the patient's<br>seizures were caused by the combination of Ritalin and<br>thalidomide.  These medications were discontinued and as<br>stated previously, the patient was started on Phenytoin for<br>prophylaxis.<br><br><br><br>                          [**Name6 (MD) **] [**Name8 (MD) **], M.D.  [**MD Number(1) 2172**]<br><br>Dictated By:[**Last Name (NamePattern1) 866**]<br><br>MEDQUIST36<br><br>D:  [**2105-11-27**]  14:35<br>T:  [**2105-11-28**]  04:39<br>JOB#:  [**Job Number 2173**]<br>
<mark class="entity" style="background: #ddd; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">U-Reason</span>
</mark>

<mark class="entity" style="background: #ddd; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">U-Drug</span>
</mark>

<mark class="entity" style="background: #ddd; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">U-Drug</span>
</mark>

<mark class="entity" style="background: #ddd; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">U-Drug</span>
</mark>

<mark class="entity" style="background: #ddd; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">U-Reason</span>
</mark>
</div>